.Projects {
  @include container;
  height: 100vh;
  flex-direction: column;
  input, textarea {
    margin-bottom: 20px;
  }
  &_header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: $form_padding;
    input {
      margin-bottom: 0;
    }
    .btn {
      min-width: 200px;
    } 
  }
  &_list{
    position: relative;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    max-width: 380px;
    &::before {
      display: block;
      content: '';
      background: linear-gradient(rgba(255, 255, 255, 0), $gray);
      width: 300px;
      height: 100px;
      position: fixed;
      bottom: 0;
      left: 0;
    }
    &_active {
      position: relative;
      transition: all ease 0.3s;
      margin-left: 20px !important;
      margin-right: 0px !important;
      &:before{
        display: block;
        right: 0px;
        top: 0;
        content: '';
        position: absolute;
        height: 100%;
        width: 1px;
        background: $second_color;
      }
    }
    &-item {
      transition: all ease 0.3s;
      @include form;
      flex-direction: column;
      max-width: 300px;
      box-shadow: $shadow;
      margin-bottom: 20px;
      margin-right: 20px;
      cursor: pointer;
      p, h2 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  &_body {
    display: flex;
    height: 100%;
  }
  &_tasks-list {
    width: 100%;
    @include form;
    flex-direction: column;
    margin-bottom: 20px;
    &_header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
  &_tasks-make {
    @include form;
    input {
      @include bigText;
    }
    flex-direction: column;
    width: 400px;
  }
  &_newProject {
    @include form;
    width: 600px;
    height: 400px;
    flex-direction: column;
    input {
      @include bigText;
    }
  }
}