.SingIn {
  @include form;
  flex-direction: column;
  width: 400px;
  input {
    margin-bottom: 20px;
  }
  span {
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;
    margin-top: 20px;
  }
}