body {
  margin: 0;
  * {
    box-sizing: border-box;
  }
  background: #f1f3f6;
}
h1, h2 {
  margin: 0;
  margin-bottom: 20px;
}

p {
  margin: 0
}

* {
  font-family: $font-family;
  &::-webkit-scrollbar { width: 0; }
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}