.nav {
  display: grid;
  grid-template-columns: max-content 1fr;
  background-color: white;
  border: 1px solid $lightGray;
}
.nav__content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.nav__link {
  margin: 10px;
  @include normal-text;
  text-transform: uppercase;
  text-decoration: none;
}

.nav__header {
  position: relative;
  @include text-logo;
  padding: 30px;
  text-align: left;
}
.nav__content_active {
  .nav__link {
    display: block;
  }
  transition: all 0.5s;
  height: 200px;
}

.logout {
  width: 25px;
  height: 25px;
  background: url('../img/logout.svg') no-repeat;
  background-size: 25px 25px;
  background-position: center;
  margin-right: 20px;
  cursor: pointer;
}
.user {
  @include normal-text;
  display: flex;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  .nav__header {
    padding: 30px 30px 30px 16px;
  }
}

