@keyframes load {
  0% {
    border-color: $blue;
  }
  40% {
    border-color: $red;
  }
  60% {
    border-color: $yellow;
  }
  80% {
    border-color: $purple;
  }
  100% {
    border-color: $blue;
  }
}
.loading {
  animation: load 3s infinite linear;
}
@keyframes hover {
  0% {
    left: -30%;
  }
  100% {
    left: 110%
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}