$Text-color: #3b3b3b;
$Grey: #c4c4c4;


$blue: #96BCFF;
$red: #EB848E;
$yellow:#FFF1A3;
$green:#89E8CC;
$purple:#C278FF;
$lightGray: #f1f3f6;
$gray: #4F4F4F;

@mixin normal-text{
  font-family: Montserrat;
  font-size: 14px;
  color: $gray;
}
@mixin mini-text{
  font-family: Montserrat;
  font-size: 10px;
  color: $Text-color;
}

@mixin header-text{
  font-family: Montserrat;
  font-size: 20px;
  color: $gray;
}

@mixin text-logo {
  font-family: Montserrat;
  font-size: 22px;
  // font-weight: 900;
  color:  $gray;
}

h1 {
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 500;
  color: $gray;
}

.error {
  border:1px solid $red !important;
}