.btn-clouse {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all 0.5s;
  transform: rotate(0deg);
}
.btn-clouse::after{
  position: absolute;
  content: '';
  width: 20px;
  height: 2px;
  top: 10px;
  background-color: $Grey;
  transform: rotate(45deg);
}
.btn-clouse::before{
  position: absolute;
  content: '';
  width: 20px;
  height: 2px;
  top: 10px;
  background-color: $Grey;
  transform: rotate(-45deg);
}
.btn-clouse:hover{
  transition: all 0.5s;
    transform: rotate(180deg);
}

.btn-plus{
  position: relative;
  transition: all 0.5s;
  border-radius: 40px;
  background-color: black;
  width: 40px;
  height: 40px;
  &::after, &::before{
    content: '';
    position: absolute;
    left: 10px;
    top: 18px;
    width: 20px;
    height: 2px;
    background-color: white;
  }
  &::before{
    transform: rotate(90deg);
  }
  &_big-right {
    position: fixed;
    right: 100px;
    top: calc(100vh - 200px);
    width: 80px;
    height: 80px;
    z-index: 50;
    &::after, &::before{
      left: 30px;
      top: 40px;
    }
  }
}
.btn-plus:hover {
  transform: rotate(20deg)
}
@media screen and (max-width: 500px) {
  .btn-plus_big-right {
    right: 18px;
    top: 100px;
    background-color: white;
    &::after, &::before{
      background-color: black;
    }
  }
}

.btn_animate {
  position: relative;
  display: block;
  padding: 15px 20px;
  font-family: Montserrat;
  font-size: 14px;
  text-align: center;
  color: white;
  background-color: black;
  cursor: pointer;
  overflow: hidden;
  &::after {
    animation: hover 1.3s infinite ease-in-out;
    content: '';
    position: absolute;
    display: block;
    top: -15px;
    height: calc(100% + 30px);
    width: 20px;
    transform: rotate(30deg);
    background-color: white;
  }
}
