.loader {
  &_big {
    animation: rotate 10s infinite linear;
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: url('../img/loader.svg');
    background-size: cover;
  }
}

@media screen and (max-width: 500px) {
  .loader {
    &_big {
      width: 200px;
      height: 200px;
    }
  }
}